@keyframes color {
    0% {
        background: #33cccc;
    }
    20% {
        background: #33cc36;
    }
    40% {
        background: #b8cc33;
    }
    60% {
        background: #fcca00;
    }
    80% {
        background: #33cc36;
    }
    100% {
        background: #33cccc;
    }
}

body {
    background: #33cccc; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
}
